/* Name section output */
.jsValue {
    position: absolute;
    bottom: 195px;
    font-size: 16px;
    left: 100px;
    color: black;
    
    
  }
 /* Date value   */
  .DD{
    position: absolute;
    top: 160px;
    font-size: 16px;
    letter-spacing: 10px;
    padding-left: 496px;
    margin-right: -100px;
    color: rgb(0, 0, 0);
    border:none;
    background-color: rgba(255, 255, 255, 0);
  }
  /* Month value */
  .mm{
    position: absolute;
    top: 160px;
    font-size: 16px;
    letter-spacing: 10px;
    padding-left: 542px;
    margin-right: -100px;
    color: rgb(0, 0, 0);
    border:none;
    background-color: rgba(255, 255, 255, 0);
  }
  .yyyy{
    position: absolute;
    top: 160px;
    font-size: 16px;
    letter-spacing: 14px;
    padding-left: 585px;
    margin-right: 0px;
    color: rgb(0, 0, 0);
    border:none;
    background-color: rgba(255, 255, 255, 0);
    z-index: 999;
  }
  .Amonut_word {
    position: absolute;
    top: 26px;
    font-size: 16px;
    left: 150px;
    margin-right: 100px;
    padding-top:225px;
    color: black;
  }
  .amount_Num{
    position: absolute;
    margin-top:227px;
    font-size: 16px;
    margin-left: 370px;
    border:none;
    color: rgba(0, 0, 0, 0.884);
    background-color: rgba(3, 3, 3, 0);
    z-index: 999;
    
  }
  .ac{
    position: absolute;
    margin-top: -326px;
    width: 666px;
    height: 350px;
    z-index: 99;
  }
  /* .centered {
    position: absolute;
    top:155px;
    left: 510px;
    /* transform: translate(-50%, -50%); */




    @media print { 
      /* All your print styles go here */
       .invoice-title,.bottom-left,.sidebar-brand-text,.nav-item,.text-md-right,.sticky-footer,#myList,#date,.check{ display: none !important; } 
     }
     @media print {
      @page {
        width: 3.6in;
        height: 7.9in;
        size: portrait ;
        margin-top: -4cm;
        margin-left: -18cm;
          
        
      }
      body { font-size: 12pt; 
        transform: rotate(90deg);
        
        

      }
      /* .check{
        margin-right: 700px;
        size: 3.6in 7.9in;
      } */
      .jsValue {
        position: fixed;
        top: 145px;
        left: 260px;
        font-size: 14px;
        padding-left: 60px;
        color: rgb(0, 0, 0);
      }
      .DD{
        position: absolute;
        top: 88px;
        font-size: 16px;
        letter-spacing: 16px;
        padding-left: 552px;
        margin-right: -100px;
        color: rgb(0, 0, 0);
        border:none;
        font-weight: bold;
        background-color: rgba(255, 255, 255, 0);
        
      }
      /* Month value */
    .mm{
    position: absolute;
    top: 88px;
    font-size: 16px;
    letter-spacing: 16px;
    padding-left: 600px;
    margin-right: -100px;
    color: rgb(0, 0, 0);
    font-weight: bold;
    border:none;
    background-color: rgba(255, 255, 255, 0);
    }
    .yyyy{
    position: absolute;
    top: 88px;
    font-size: 16px;
    letter-spacing: 16px;
    padding-left: 652px;
    margin-right: -100px;
    color: rgb(0, 0, 0);
    font-weight: bold;
    border:none;
    background-color: rgba(255, 255, 255, 0);
    }
    .Amonut_word {
    position: absolute;
    top: -20px;
    left: 190px;
    font-size: 14px;
    /* margin-right:705px; */
    padding-left: 10px;
    padding-top:200px;
  
    color: rgb(0, 0, 0);
    }
    .amount_Num{
    position: absolute;
    margin-top:196px;
    margin-left: 550px;
    font-size: 18px;
    border:none;
    color: rgba(0, 0, 0, 0.884);
    background-color: rgba(255, 255, 255, 0);
    
    }
    .ac{
    position: absolute;
    margin-top: 20px;
    margin-left: 40px;
    width: 888px;
    height: 350px;
    z-index: 99;
    }
    /* .data_date{
    padding-left: -100px; */

    
 
    }
    
    @media screen {
      body { font-size: 13px; }
    }
    
    /* @media screen, print {
      body { line-height: 1.2; }
    }
     */
    @media only screen
      and (min-width: 320px)
      and (max-width: 480px)
      and (resolution: 150dpi) {
        body { line-height: 1.4; }
    }
    @media (height > 600px) {
      body { line-height: 1.4; }
  }
  
  @media (400px <= width <= 700px) {
      body { line-height: 1.4; }
  }







